Repository geut/permanent-seeder, pull requests merged in 2020-09, with the labels that each got.

#62 Update: show hyperdrive version
  packages/dashboard/package.json
  packages/dashboard/src/components/DriveInfo.js
  packages/dashboard/src/components/DriveItem.js
  packages/sdk/src/services/api.service.js
  packages/sdk/src/services/seeder.service.js
  packages/seeder/src/drive.js
  packages/seeder/src/seeder.js
Labels: dashboard, seeder

#67 Update: theming and intro screen
  packages/dashboard/package.json
  packages/dashboard/public/index.html
  packages/dashboard/public/manifest.json
  packages/dashboard/src/components/AppBar.js
  packages/dashboard/src/components/NoMatch.js
  packages/dashboard/src/components/PSIcon.js
  packages/dashboard/src/components/SplashScreen.js
  packages/dashboard/src/containers/App.js
  packages/dashboard/src/containers/Dashboard.js
  packages/dashboard/src/fonts/eth-sans/EthBlackEthon.ttf
  packages/dashboard/src/fonts/eth-sans/EthRomainEthon.ttf
  packages/dashboard/src/index.js
  packages/dashboard/src/timeline.js
Labels: dashboard

#85 Update: stats db collections persisted
  packages/cli/src/templates/permanent-seeder.template.toml
  packages/dashboard/src/components/AddKeyDialog.js
  packages/dashboard/src/components/AppBar.js
  packages/dashboard/src/components/DriveFiles.js
  packages/dashboard/src/components/DriveInfo.js
  packages/dashboard/src/components/DriveItemHeader.js
  packages/dashboard/src/components/NetworkIndicator.js
  packages/dashboard/src/components/StatusChip.js
  packages/dashboard/src/containers/App.js
  packages/dashboard/src/context/app-state.js
  packages/dashboard/src/hooks/layout.js
  packages/dashboard/src/index.js
  packages/database/src/metrics-database.js
  packages/database/tests/metrics-database.test.js
  packages/sdk/src/services/api.service.js
  packages/sdk/src/services/metrics.service.js
  packages/sdk/src/services/seeder.service.js
  packages/seeder/src/drive.js
  packages/seeder/src/seeder.js
Labels: dashboard, metrics, seeder

#91 Update: standalone release tweaks
  .gitignore
  packages/cli/.gitignore
  packages/cli/package.json
  packages/cli/src/commands/dashboard.js
  packages/dashboard/package.json
  packages/sdk/package.json
  packages/sdk/src/services/api.service.js
Labels: cli

#93 Remove local config
  README.md
  packages/cli/package.json
  packages/cli/src/base-command.js
  packages/cli/src/commands/config/get.js
  packages/cli/src/commands/config/index.js
  packages/cli/src/commands/config/init.js
  packages/cli/src/commands/config/set.js
  packages/cli/src/commands/key/index.js
  packages/cli/src/commands/logs.js
  packages/cli/src/commands/start.js
  packages/cli/src/config.js
  packages/cli/src/constants.js
  packages/cli/src/templates/settings.template.toml
  packages/cli/tests/commands.test.js
  packages/cli/tests/config.test.js
  packages/cli/tests/setup.js
  packages/cli/tests/teardown.js
  packages/sdk/src/EXAMPLE.md
  packages/sdk/src/sdk.js
  packages/sdk/src/services/keys.service.js
  packages/sdk/src/services/metrics.service.js
  packages/sdk/src/services/seeder.service.js
Labels: cli

#94 Update: ui tweaks
  packages/dashboard/src/components/AddKeyDialog.js
  packages/dashboard/src/components/DriveInfo.js
  packages/dashboard/src/components/DriveItem.js
  packages/dashboard/src/components/DrivePeers.js
Labels: dashboard

#95 Cli fixes
  packages/cli/src/base-command.js
  packages/cli/src/commands/config/init.js
  packages/cli/src/commands/logs.js
  packages/cli/src/commands/start.js
  packages/cli/src/commands/stop.js
  packages/cli/src/config.js
  packages/cli/src/pm2-async.js
  packages/cli/tests/commands.test.js
  packages/cli/tests/config.test.js
  packages/sdk/src/services/seeder.service.js
Labels: bug, cli

#100 Update: mem profiling and some tweaks
  packages/cli/src/commands/start.js
  packages/dashboard/src/components/DriveItem.js
  packages/dashboard/src/components/NetworkIndicator.js
  packages/dashboard/src/hooks/unit.js
  packages/sdk/package.json
  packages/sdk/src/services/api.service.js
  packages/sdk/src/services/metrics.service.js
  packages/sdk/src/services/seeder.service.js
  packages/seeder/package.json
  packages/seeder/src/drive.js
  packages/seeder/src/seeder.js
Labels: dashboard, seeder, services

#107 Update: event listeners cleaning
  packages/cli/src/commands/status.js
  packages/sdk/src/services/metrics.service.js
  packages/sdk/src/services/seeder.service.js
  packages/seeder/src/drive.js
  packages/seeder/src/seeder.js
Labels: seeder, services

#106 Update: skip command tests temporarily
  package-lock.json
  packages/cli/tests/commands.test.js
Labels: cli

#108 Update: lerna fixed mode
  lerna.json
  package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/seeder/CHANGELOG.md
Labels: prepare-for-release

#92 Update: docs
  Dashboard.jpg
  README.md
  packages/cli/README.md
  packages/cli/package.json
  packages/dashboard/README.md
  packages/dashboard/package.json
  packages/dashboard/public/favicon.ico
  packages/dashboard/public/index.html
  packages/dashboard/public/logo192.png
  packages/dashboard/public/logo512.png
  packages/dashboard/public/manifest.json
  packages/dashboard/public/permanent-seeder-192.png
  packages/dashboard/public/permanent-seeder-512.png
  packages/dashboard/public/permanent-seeder-favicon.ico
  packages/database/README.md
  packages/database/package.json
  packages/sdk/README.md
  packages/sdk/package.json
  packages/seeder/README.md
  packages/seeder/package.json
Labels: documentation

#109 Update: post publish tweaks
  .gitignore
  CHANGELOG.md
  README.md
  packages/cli/src/commands/dashboard.js
  packages/dashboard/package.json
  packages/dashboard/public/apple-touch-icon.png
  packages/dashboard/public/favicon.ico
  packages/dashboard/public/index.html
  packages/dashboard/public/manifest.json
  packages/dashboard/public/permanent-seeder-favicon.ico
  packages/sdk/package.json
  packages/sdk/src/services/api.service.js
Labels: prepare-for-release

#112 Update: sticky footer attempt
  packages/dashboard/src/components/HostStats.js
  packages/dashboard/src/components/Layout.js
  packages/dashboard/src/containers/Dashboard.js
Labels: dashboard

#115 Update README.md
  README.md
Labels: documentation

#114 Update: network tweaks
  CHANGELOG.md
  README.md
  packages/cli/src/templates/settings.template.toml
  packages/sdk/src/services/seeder.service.js
  packages/seeder/src/seeder.js
Labels: seeder, services

#120 Update: use preload for api/drives
  CHANGELOG.md
  packages/dashboard/public/index.html
  packages/dashboard/src/components/DriveItem.js
  packages/seeder/src/drive.js
Labels: dashboard
