Repository geut/permanent-seeder, pull requests merged in 2020-08, with the labels that each got.

#25 Dashboard drive info component
  packages/dashboard/README.md
  packages/dashboard/package.json
  packages/dashboard/src/components/DriveItem.js
  packages/dashboard/src/components/DriveItemGridContainer.js
  packages/dashboard/src/components/DriveItemHeader.js
  packages/dashboard/src/containers/App.js
  packages/sdk/src/services/api.service.js
Labels: dashboard

#32 Add: metrics service
  packages/database/index.js
  packages/database/package.json
  packages/database/src/metrics-database.js
  packages/database/tests/metrics-database.test.js
  packages/sdk/src/services/api.service.js
  packages/sdk/src/services/metrics.service.js
  packages/sdk/src/services/seeder.service.js
Labels: metrics, services

#29 Stats: initial stats dashboard integration
  packages/cli/package.json
  packages/cli/src/base-command.js
  packages/cli/src/commands/key/add.js
  packages/cli/src/commands/key/get.js
  packages/cli/src/commands/key/remove.js
  packages/cli/src/commands/start.js
  packages/cli/src/commands/stop.js
  packages/cli/src/pm2-async.js
  packages/cli/src/seeder-daemon
  packages/dashboard/package.json
  packages/dashboard/src/components/DriveItem.js
  packages/dashboard/src/components/DriveItemHeader.js
  packages/dashboard/src/containers/App.js
  packages/dashboard/src/containers/Dashboard.js
  packages/dashboard/src/context/socket.js
  packages/dashboard/src/hooks/drives.js
  packages/dashboard/src/hooks/socket.js
  packages/sdk/src/sdk.js
  packages/sdk/src/services/api.service.js
  packages/sdk/src/services/keys-updater.service.js
  packages/sdk/src/services/keys.service.js
  packages/seeder/src/seeder.js
Labels: seeder, services

#33 Update: drive stats
  packages/sdk/src/services/seeder.service.js
  packages/seeder/src/seeder.js
Labels: seeder, services

#34 Update: drive stats tweaks
  packages/sdk/src/services/api.service.js
  packages/sdk/src/services/seeder.service.js
  packages/seeder/src/seeder.js
Labels: dashboard, metrics, seeder, services

#36 Update: demo vault endpoint
  packages/cli/demo/modules.json
  packages/cli/package.json
  packages/sdk/src/services/keys-updater.service.js
  packages/sdk/src/services/keys.service.js
  packages/sdk/src/services/seeder.service.js
  packages/seeder/src/seeder.js
Labels: cli

#38 Update: add size from drive.stats & swarm status
  packages/sdk/src/services/seeder.service.js
  packages/seeder/src/seeder.js
Labels: seeder, services

#40 Fix: metrics db path on config creation command
  packages/cli/src/config.js
Labels: cli

#46 Update: host stats disk data
  packages/dashboard/src/components/DriveItem.js
  packages/dashboard/src/components/HostStats.js
Labels: dashboard, metrics

#49 Update: expose api stats swarm
  packages/sdk/src/services/api.service.js
Labels: cli, dashboard

#57 Update: keys encode cli
  packages/cli/package.json
  packages/cli/src/commands/config/init.js
  packages/cli/src/commands/key/add.js
  packages/cli/src/commands/key/get.js
  packages/cli/src/commands/key/index.js
  packages/cli/src/commands/key/remove.js
  packages/cli/src/seeder-daemon
  packages/cli/tests/commands.test.js
  packages/cli/tests/config.test.js
  packages/cli/tests/index.js
  packages/sdk/src/sdk.js
  packages/sdk/src/services/keys.service.js
Labels: cli
